# Environment: "dev" or "production"
# In "dev" mode, logging is more verbose.
env: "production"

# Store configuration
store:
  # Maximum size of a key in bytes.
  max_key: 1024
  # Maximum size of a value in bytes.
  max_val: 1024
  # Number of shards for the in-memory map.
  # A higher number can reduce lock contention under high concurrency.
  # Use a power of 2 for better performance.
  shards_count: 128

# Shards configuration
shards:
  # How often shards supervisor will start health check
  check_frequency: 30s
  # Sparse ratio needed to to trigger rebuild (current shard size <= all time max size * sparse ration)
  sparse_ratio: 0.5
  # Min operations to trigger shard rebuild
  min_operations_until_rebuild: 2000
  # Min delete operation to trigger shard rebuild
  min_deletes: 500
  # Amount of workers which will rebuild shards in background
  rebuild_workers_count: 4

# Write-Ahead Log (WAL) configuration
transactional_logger:
  # Path to the WAL file.
  log_file_name: "data/wal/kv.log"
  # Maximum size of the WAL file in bytes before a snapshot is triggered.
  log_size_bytes: 10485760 # 10MB
  # Interval at which the WAL is fsync'd to disk.
  fsync_in: 100ms
  # Number of retries for the final fsync on graceful shutdown.
  fsync_retries: 3
  # Delay between fsync retries on graceful shutdown.
  fsync_retry_in: 500ms

# Snapshots configuration
snapshots:
  # Directory to store snapshot files.
  snapshots_dir: "data/snapshots"
  # Maximum number of snapshot files to keep. Older snapshots will be deleted.
  max_snapshots: 2

# Http configuration:
http:
  # Host for the http server
  host: localhost
  # Port for the http server
  port: 16700
  # Http server idle timeout
  idle_timeout: 5s
  # Http server write timeout
  write_timeout: 10s
  # Http server read timeout
  read_timeout: 10s

# Grpc configuration:
grpc:
  # Port for the grpc server
  port: 16701

# Raft configuration
raft:
  # The unique ID of this node in the cluster.
  node_id: 1
  # A list of all peers in the cluster (including this one), in 'id:address' format.
  peers:
    [
      "node-1:localhost:16801",
      "node-2:localhost:16802",
      "node-3:localhost:16803",
    ]
  # A list of public-facing HTTP addresses for each peer, in the same order as the 'peers' list.
  # Used for client-side redirects to the leader.
  public_http_addrs:
    - "http://localhost:8081"
  # Directory to store Raft's log and snapshots.
  data_dir: "data/raft"
  # Commit a no-op entry on leader election to advance commit index.
  commit_noop_on_start: true
  # The address for the internal Raft gRPC communication.
  grpc_addr: "localhost:16801"
  # The address for exposing raft-internal monitoring via http.
  monitoring_addr: "localhost:16901"
  # Base election timeout.
  election_timeout: 150ms
  # The random delta added to the election timeout to prevent split votes.
  election_timeout_random_delta: 150ms
  # Heartbeat timeout.
  heartbeat_timeout: 50ms
  # Timeout for individual RPCs between Raft peers.
  rpc_timeout: 50ms
  # Timeout for graceful shutdown.
  shutdown_timeout: 5s
  # Raft log size threshold in bytes to trigger a snapshot. 8MB
  snapshot_threshold_bytes: 8388608
  # Interval to check if the Raft log size has exceeded the threshold.
  snapshot_check_in: 1s
  # How often the leader sends a heartbeat to the cluster to confirm its leadership before responding to a linearizable read request
  linearizable_read_in: 500ms
